@import url(//db.onlinewebfonts.com/c/2f4b0e58eb39868d3fad42ed32abdd38?family=ActaPosterW01-Regular);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* main variables */
:root {
    --bg-color: #F2C166;
    --link-color: #07B2D9;
    --color-3: #0487D9;
    --color-4: #BF6D4E;
    --color-5: #D9320D;
    --color-6: #6f6f6f;

    --primary-font: 'Archivo Black', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}


/*** HEADER & NAVIGATION ***/



.logo {
    position: absolute;
    left: 1vw;
    top: 1vw;
 height: 8vw;
    padding: 1vw;

}




.top-nav {
    width: 100%;
    padding-right: 40px;
    height: 35px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
}

.top-nav li {
    margin: 0 0 0 25px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.5vw;
}

ul {
    list-style-type: none;
}

/*** HEADER & NAVIGATION ***/

/*** RESPONSIVE LAYOUT ***/

* {
    box-sizing: border-box;
}

#my-box {
    width: 80%;
    padding: 30px;

}


/**INDEX PAGE**/
main {
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 15px;
    margin: 5% auto;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    background-size: cover;
}

.citiesContainer {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.cityName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 1.6rem;
}

/* header text */
#homepage-header {
    background-image: url(https://lp-cms-production.imgix.net/2019-06/GettyImages-109726358_high.jpg?auto=format&fit=crop&ixlib=react-8.6.4&h=520&w=1280&q=50&dpr=2);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 20vw;
    position: relative;
    background-size: cover;
    min-height: 200px;
}


#homepage-header .headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--primary-font);
    color: white;
}
#homepage-header h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: auto;
    font-family: var(--secondary-font);
}

#homepage-header h3 {
    font-size: 1rem;
    line-height: auto;
    font-family: var(--secondary-font);
    font-weight: 300;
    margin-top: -2vw;
}

/* header text */
p {
    font-size: 0.75rem;
    font-family: var(--secondary-font);
}
/* Footer */
footer {
    background-color: var(--color-4);
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
}
footer p {
    padding: 5vw;
    line-height: 5vw;
    color: white;
}
footer .logo {
    padding: 6.5vw;
    height: auto;
    position: relative;
}
/* Footer */
.cityContent{
    background-color: black;
}
.cityContent img{
    opacity: 70%
}
.main-img-city {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* filters menu */
.filters {
    text-align: center;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.filters ul {
    text-align: center;
    display: flex;
    background-color: var(--bg-color);

    width: 100%;
    padding: 0vw 0vw 0vw 0vw;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.active-menu {
    position: fixed;
    top: 0;
}

.filters li {
    padding: 3vw 3vw 2vw 3vw;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    color: white;
}

.filters li:active {
    color: black;
    background-color: red;
}
.active{
    background-color: red;
}

.filters li:hover {
    color: black;
    background-color: var(--color-3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.filters a {
    color: white;
}
/* filters menu */
/* activity*/
.activity-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.activityImg{

    width: 30px;
    height: 30px;
    margin-left: 5vw;
}
.headline{
   justify-self: start;
    grid-area: 1/-1;
}
/* activity*/
